@value primaryWhite, primaryGreen from '../../common/colors.css';

.button {
  background-color: primaryGreen;
  color: primaryWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
}

.button:hover {
  opacity: 0.8;
}
