@value primaryGreen, primaryLightGreen, primaryWhite from '../../common/colors.css';

.attention{
    margin: 0;
    font-size: 5rem;
    margin-top:-20%;
}
h2{
    margin:0;
}

.modal {
  position: relative;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background-color: primaryWhite;
}

.button {
  width: 100%;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in;
}

.homeBtn:hover {
  transform: scale(1.1);
}

.homeBtn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 16%;
  margin-left: 30%;
  margin-top: 70%;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: primaryGreen;
}