@value primaryBlack, primaryWhite from '../../common/colors.css';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:1em;
    background-color: primaryBlack;
}
.fild{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:primaryWhite;
}
.logo{
    width: 50px;
    height: 35px;
    margin-right: 5px;
}
.title{
    font-size: 1.5em;
}
.navItem{
    color:primaryWhite;
    /* outline: none; */
    text-decoration:none;
}
