@value primaryBlack, primaryWhite, primaryGreen from '../../common/colors.css';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0.8em;
    background-color: primaryBlack;
    box-shadow: -1px 10px 19px -4px rgba(0,0,0,0.75);
}
.fild{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:primaryWhite;
}
.logo{
    width: 50px;
    height: 35px;
    margin-right: 5px;
}
.title{
    font-size: 1.5em;
}
.nav{
    display: flex;
    align-items: center;
}
.navItem{
    color:primaryWhite;
    text-decoration:none;
    list-style: none;
    margin-right: 15px;
}
.logout{
    padding: 0.6em;
    border-radius: 20%;
    background-color: primaryGreen;
    color: primaryWhite;
    outline: 0;
    border:0;
    cursor:pointer;
}