@value makerGrey from './common/colors.css';

*{
    box-sizing:border-box;
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Nanum Brush Script', cursive; */
}

.app{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

